.tile {
    width: 62px;
    height: 62px;
    border: 2px solid #d3d6da;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

    .tile.finalwrong {
        --background-color: #AB6565;
        --border-color: #AB6565;
        border-color: #565758;
        animation: flip 0.5s ease forwards;
    }

    .tile.right {
        --background-color: #6aaa64;
        --border-color: #6aaa64;
        border-color: #565758;
        animation: flip 0.5s ease forwards;
    }

    .tile.wrong_space {
        --background-color: #c9b458;
        --border-color: #c9b458;
        border-color:#565758;
        animation: flip 0.5s ease forwards;
    }

    .tile.wrong_letter {
        --background-color: #787c7e;
        --border-color: #787c7e;
        border-color: #565758;
        animation: flip 0.5s ease forwards;
    }

    .tile.unsubmitted {
        border-color: #565758;
        animation: bloom 0.2s ease-in-out forwards;
    }

    .tile.unused{
        border-color:#e5e5e5;
        background-color:#f5f5f5;
    }

    .tile.copmlete.firstcolumn{
        animation-delay:0s;
    }
    .tile.complete.secondcolumn {
        animation-delay: 0.2s;
    }
    .tile.complete.thirdcolumn {
        animation-delay: 0.4s;
    }
    .tile.complete.fourthcolumn {
        animation-delay: 0.6s;
    }
    .tile.complete.fifthcolumn {
        animation-delay: 0.8s;
    }

@keyframes bloom {
    0% {
        transform: scale(0.8);
        opacity:0;
        
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        
    }
}

    @keyframes flip {
        0% {
            transform: rotateX(0);
            background-color: #fff;
            border-color: #565758;
            color: #000;
        }
        45% {
            transform: rotateX(90deg);
            background-color: #fff;
            border-color: #565758;
            color: #000;
        }
        55% {
            transform: rotateX(90deg);
            background-color: var(--background-color);
            border-color: var(--border-color);
            color: #fff;
        }
        100% {
            transform: rotateX(0);
            background-color: var(--background-color);
            border-color: var(--border-color);
            color: #fff;
        }
    }
